.information {
    margin: 65px 0 50px 0;

    @include flex_column_center;
    width: 100%;

    &__text {
        margin-top: 15px;

        @include p-small-font;
        color: $grey_2;
    }

    &__link {
        text-decoration: underline;
        text-decoration-color: transparent;

        transition: text-decoration-color 150ms ease-in-out;

        &:hover {
            text-decoration-color: inherit;
        }

        &:active {
            opacity: 0.8;
        }
    }
}
