$black: #000000;
$white: #ffffff;

$main: #C5D0E6;

$ufo_bg_color: #000010;

$grey_1: #4d4d4d;
$grey_2: #7a7a7a;
$grey_3: #c6c6c6;
$grey_4: #d9d9d9;

$red_1: rgb(210, 22, 22);

$viewport1024: 1024px;
$viewport550: 550px;

$totalStars: 400;