@import "@/styles/_variables.scss";
@import "@/styles/_mixins.scss";

.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 15px 0;

    @include p-normal-font;

    border-top: 1px solid $main;

    &_show {
        display: flex;
    }

    &__buttons {
        display: flex;
        align-items: center;
    }
    
    &__link {
        margin: 0 5px;
        padding: 3px;
        
        outline: 1px solid transparent;
        border-radius: 2px;
        
        transition: color 100ms ease-in-out, outline-color 100ms ease-in-out;
        
        @include v550 {
            margin: 0 3px;
            padding: 0;
        }

        &:hover {
            outline-color: $main;
        }

        &_active {
            color: $main;
            outline-color: $main;
        }
    }

    &__clearButton {
        transition: filter 100ms ease-in-out, color 100ms ease-in-out;

        &:hover {
            color: $red_1;

            filter: opacity(1);
        }

        &:active {
            filter: opacity(0.2);
        }
    }
}
